.pickers {
    display: flex;
    justify-content: right;
    gap: 20px;
    padding: 40px;
    order: 1;
}

@media  (max-width: 1200px) {
    .pickers {
        order: 2;
        justify-content: left;
    }
}